<head>
  <link rel = "stylesheet"
   type = "text/css"
   href = "../menu.css" />
</head>

<h1>Menu</h1>

<div class="menu">

<ul>
  <li><a href="/member">Create Member</a></li>
  <li><a href="/level">Create Level</a></li>
  <li><a href="/item">Create Item</a></li>
  <li><a href="/member/list">Check Member</a></li>
  <li><a href="/membership/list">Check Membership</a></li>
  <li><a href="/level/list">Check Level</a></li>
  <li><a href="/shopping_history/list">Check Shopping History</a></li>
  <li><a href="/item/list">Check Item</a></li>
  <li><a href="/itemList/list">Check Item List</a></li>
  <li><a href="/reward/list">Check Reward</a></li>
  <li><a href="/staff/list">Check Staff</a></li>
  <li><a href="/WikiPage">Please check me for the Wiki Page!!</a></li>
</ul>
</div>

<button name="logout" class="btn btn-info"><a  href="/"><i class="fa fa-list-alt"></i>Logout</a> </button>
