<!DOCTYPE html>
<html>
<head>
	<title> Signup Form</title>


<link rel="stylesheet" type="text/css" href="../style2.css">
</head>
	<body>
	<br>
	<div class="container" >
		<h1> Login Successful</h1>
		<button type="view" class="btn btn-info"><a  href="/menu">Hi Conintue</a> </button>

	</div>
</body>
</html>
