<!doctype html>
<head>
   <link rel = "stylesheet"
   type = "text/css"
   href = "../wikipage.css" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Wiki Page</title>
</head>
<body bgcolor="LightGrey">
  <div id="flex-container">
    <div id="header"><div><h2>Welcome To Wiki Page</h2></div></div>
    <div id="nav">
</div>
    <div id="main"><font color="black">

<h3>**Remainder for programmer</h3><br />
<h4>
	For mongoDB:
	<ol>
		<li>Download MongoDB 4.2.1 Community</li>
		<li>Open mongodb.</li>
		<li>Connect mongodb localhost:27017</li>
		<li>Check if the database name:mydb is here or not</li>
	</ol>
    <br>
    For node.js:
    <ol>
    	<li>Download node.js</li>
    	<li>Open node.js cmd</li>
    	<li>Type [cd testing]</li>
    	<li>Type [npm install express-session]</li>
    	<li>Type [npm install session-file-store]</li>
    	<li>Type [node server.js]</li>
    </ol>
</h4><br /><br />

<h3>[Web]</h3><br />
<h4>http://localhost:3000
<br />
<br />
Login
<br />
Staff ID : 3
<br />
Password : admin12345
</h4>
<br /><br />


<h3>[Login]</h3><br />
<img src="../1.png" width="1000"/><br /><br />
<h4>This is the Login page.<br />
User should enter their staff id and password to login.<br />
</h4><br /><br />

<h3>[Menu]</h3><br />
<img src="../3.png" width="1000"/><br /><br />
<h4>This is the menu page, user can click on the words to jump to the page they want.<br />
</h4><br /><br />

<h3>[Enter Data]</h3><br />
<img src="../4.png" width="1000"/><br />
<img src="../5.png" width="1000"/><br />
<img src="../6.png" width="1000"/><br />
<h4>These are the page for the staff to enter the data.<br /><br />
<img src="../9.png" width="1000"/><br />
<img src="../10.png" width="1000"/><br /><br />
After entering the data, press “Submit” button, the data will be recording in the database, and jump to the data table page.<br />
</h4><br /><br />

<h3>[Database]</h3><br />
<img src="../10.png" width="1000"/><br />
<h4>This is one of the data table pages which showing the data of the table.<br /><br />
<img src="../13.png" width="1000"/><br />
<img src="../14.png" width="1000"/><br /><br />
If you want to delete the data, press “Delete” button near the row, and confirm to pop up message, the data of the row will be deleted.<br />
If you want to edit the data, press “Edit” button near the row, and you will jump to the page of edit.<br />
</h4><br /><br />

<h3>[Edit]</h3><br />
<img src="../12.png" width="1000"/><br />
<h4>This is one of the edit pages, this is the page after you click the edit button near the row.<br />
The function is similar to the enter data page.<br /><br />
<img src="../11.png" width="1000"/><br /><br />
(This sample show that the Date of Birth and the Email have been changed.)<br /><br />
And after entering the data you want to edit, press “Submit” button, the data will be changed in the database.<br />
</h4><br /><br />

</font>
</div>
<div id="aside"></div>
</body>
</html>
